[submodule "Abbreviation-Autocomplete"]
	path = vue/abbreviationAutocomplete
	url = https://github.com/FireLemons/Abbreviation-Autocomplete.git
[submodule "react/AbbreviationAutocompleteReact"]
	path = react/AbbreviationAutocompleteReact
	url = https://github.com/FireLemons/AbbreviationAutocompleteReact
